:root {
  --nv-primary-hex: #65a30d;
  --nv-primary-50: 247, 254, 231;
  --nv-primary-100: 236, 252, 203;
  --nv-primary-200: 217, 249, 157;
  --nv-primary-300: 190, 242, 100;
  --nv-primary-400: 163, 230, 53;
  --nv-primary-500: 132, 204, 22;
  --nv-primary-600: 101, 163, 13;
  --nv-primary-700: 77, 124, 15;
  --nv-primary-800: 63, 98, 18;
  --nv-primary-900: 54, 83, 20;
  --nv-primary-950: 26, 46, 5;
      
  --nv-gray-hex: #4b5563;
  --nv-gray-50: 249, 250, 251;
  --nv-gray-100: 243, 244, 246;
  --nv-gray-200: 229, 231, 235;
  --nv-gray-300: 209, 213, 219;
  --nv-gray-400: 156, 163, 175;
  --nv-gray-500: 107, 114, 128;
  --nv-gray-600: 75, 85, 99;
  --nv-gray-700: 55, 65, 81;
  --nv-gray-800: 31, 41, 55;
  --nv-gray-900: 17, 24, 39;
  --nv-gray-950: 3, 7, 18;
}