:root {
  --nv-primary-hex: #ca8a04;
  --nv-primary-50: 254, 252, 232;
  --nv-primary-100: 254, 249, 195;
  --nv-primary-200: 254, 240, 138;
  --nv-primary-300: 253, 224, 71;
  --nv-primary-400: 250, 204, 21;
  --nv-primary-500: 234, 179, 8;
  --nv-primary-600: 202, 138, 4;
  --nv-primary-700: 161, 98, 7;
  --nv-primary-800: 133, 77, 14;
  --nv-primary-900: 113, 63, 18;
  --nv-primary-950: 66, 32, 6;
      
  --nv-gray-hex: #4b5563;
  --nv-gray-50: 249, 250, 251;
  --nv-gray-100: 243, 244, 246;
  --nv-gray-200: 229, 231, 235;
  --nv-gray-300: 209, 213, 219;
  --nv-gray-400: 156, 163, 175;
  --nv-gray-500: 107, 114, 128;
  --nv-gray-600: 75, 85, 99;
  --nv-gray-700: 55, 65, 81;
  --nv-gray-800: 31, 41, 55;
  --nv-gray-900: 17, 24, 39;
  --nv-gray-950: 3, 7, 18;
}